.warning-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: auto;
    font-style: italic;
    padding-bottom: 20px;
}

.save-button {
    align-items: center;
    display: flex;
}

.register-customer-container {
    display: flex;
    align-items: center;
}

.register-user-text {
    display: flex;
}

.customer-register-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: wheat;
}



