.change-password-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: wrap;
}

.password-change-container {
    display: flex;
    align-items: center;
}

.password-change-text {
    display: flex;
}